html, head, body{
    padding: 0px;
    margin: 0px;
}

nav{
    background-color: red;
}
aside{
    background-color: blue;
    position:sticky;
    top: 0px;
    float:left;
    height: 100%;
    width: 30%;
}

section{
    background-color:aqua;
}

footer{
    background-color: gray;
    position: absolute;
    width:100%;
    bottom: 0px;


}