<aside class="side-bar">
    <div class="user-list-bar" onload="setScrollOnBottom()" id="user-list-bar">
        <a href="/chat?user=vladbatalan">
            <p>vladbatalan</p>
        </a>
        <a href="/chat?user=marcelinpetrisor">
            <p>marcelinpetrisor</p>
        </a>
        <a href="/chat?user=adrianalexandrescu">
            <p>adrianalexandrescu</p>
        </a>
        <a href="/chat?user=alexilioi">
            <p>alexilioi</p>
        </a>
    </div>
</aside>

<section class="chat">
    
    <div class="message-container">
        <div class="other-message">Salut. Ce faci?</div>
        <div class="other-message">Esti gata sa ne apucam de treaba?</div>
        <div class="user-message">Sincer ... Mi-e putin lene. Is si mahmur ... </div>
        <div class="user-message">Putem lasa pe tura urmatoare?</div>
        <div class="other-message">In ritmul asta ... nu mai terminam proiectul ...</div>
        <div class="other-message">Well ... Merge o schaworma</div>
    </div>

    <div class="write-container">
        <textarea>Here you write text</textarea>
        <button>Send message</button>
        <div class="clear-both"></div>
    </div>

</section>