<aside class="side-bar">
    "At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga. Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere possimus, omnis voluptas assumenda est, omnis dolor repellendus. Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet ut et voluptates repudiandae sint et molestiae non recusandae. Itaque earum rerum hic tenetur a sapiente delectus, ut aut reiciendis voluptatibus maiores alias."
</aside>

<section class="chat">
    
    <div class="message-container">
        <div class="other-message">Salut. Ce faci?</div>
        <div class="other-message">Esti gata sa ne apucam de treaba?</div>
        <div class="user-message">Sincer ... Mi-e putin lene. Is si mahmur ... </div>
        <div class="user-message">Putem lasa pe tura urmatoare?</div>
        <div class="other-message">In ritmul asta ... nu mai terminam proiectul ...</div>
    </div>

    <div class="write-container">
        <textarea>Here you write text</textarea>
        <button>Send message</button>
        <div class="clear-both"></div>
    </div>

</section>