<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" lang="ro" />
        <script src="js/script.js"></script>
        <link rel="stylesheet" type="text/css" href="style/style.css" />
        <title>
            Bata Messenger
        </title>
    </head>
    <body>
        <nav>
            <div class="left-alligned">
                <a href="/"> Home </a>
                <a href="/"> Users </a>
                <a href="/chat"> Chat </a>
            </div>

            <div class="right-alligned">
                <% if(locals.userlogged){ %>
                    <a href="/user-profile"><%= userlogged.username %></a>
                    <a href="/login">Logout</a>
                    <!-- <a href="/" class="user-icon" ></a> -->
                <% } else { %>
                    <a href="/login"> Login </a>       
                <% } %>
            </div>
        </nav>
        <main>
            <%- body -%>
        </main>
        <footer>
            &copy;All rigths reserved to Batalan Vlad. 2021
        </footer>
    </body>
</html>